@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: local('Open Sans'), url('/fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: local('Open Sans'), url('/fonts/OpenSans-Light.woff2') format('woff2');
}

:root {
  --main-color: #3bf;
  --secondary-color: #1a1a1a;
  --main-bg-color: #1a1a1a;
  --secondary-bg-color: #ddd;
  --line-height-top-nav: 60px;
  --sides-space: 5vw;
  --font-size-root: 16px;
  --font-light-color: #ddd;
  --font-dark-color: #1a1a1a;
}

html,
body {
  font-size: var(--font-size-root);
  color: var(--font-light-color);
}

body {
  background: var(--main-bg-color);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.responsive-hidden {
  display: none;
}

.span-light {
  font-weight: 300;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#top-nav {
  background: var(--secondary-color);
  border-color: var(--main-color);
  border-width: 0 0 3px 0;
  border-style: solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

.top-nav-a {
  color: #fff;
  display: inline-block;
  padding: 0 15px;
  line-height: var(--line-height-top-nav);
}

.top-nav-a:hover:not(#top-logo-a) {
  color: var(--main-color);
}

#top-logo-a {
  color: var(--main-color);
}

#top-nav-logo {
  display: inline;
  margin: 0 0 0 20px;
  font-size: 1.8rem;
}

#top-nav-sections {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
}

#top-nav-social-media {
  margin: 0 20px;
  text-align: center;
  font-size: 1.2rem;
}

#toggle-responsive-nav {
  background: none;
  border: none;
  color: #fff;
  float: right;
  font-size: 1.5em;
  line-height: var(--line-height-top-nav);
  outline: none;
  cursor: pointer;
  margin: 0 20px 0 0;
  padding: 0 20px;
}

.top-nav-sections-li {
  display: block;
}

.top-nav-social-li {
  display: inline;
}

#home {
  background-image: url('/images/sunset.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 40rem;
  margin: 0;
}

#home-heading-wrapper {
  position: relative;
  top: 12rem;
  text-align: center;
}

.home-upper {
  color: var(--main-color);
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
}

.home-lower {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

.top-level-section {
  padding: var(--line-height-top-nav) var(--sides-space);
  font-size: 1.2rem;
}

.section-title {
  font-size: 2.5rem;
}

#about {
  background: var(--secondary-bg-color);
  color: var(--font-dark-color);
}

#work-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.work-tile {
  flex: 1 1 100%;
  background: #666;
  margin: 0 0 0.5rem 0;
}

.work-title {
  margin: 0 0.5em;
}

#contact {
  background: var(--secondary-bg-color);
  color: var(--font-dark-color);
}

#main-footer {
  color: #888;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5em var(--sides-space);
}

@media screen and (min-width: 750px) {
  :root {
    --sides-space: 15vw;
  }

  .responsive-hidden {
    display: inline;
  }

  #top-nav-logo {
    float: left;
  }

  #top-nav-sections {
    display: inline;
    float: left;
    margin: 0 0 0 20px;
    text-align: center;
    font-size: 1.2rem;
  }

  #top-nav-social-media {
    float: right;
    margin: 0 20px;
    text-align: center;
    font-size: 1.2rem;
  }

  .top-nav-sections-li {
    display: inline;
  }

  #toggle-responsive-nav {
    display: none;
  }

  #home {
    height: 100vh;
  }

  #home-heading-wrapper {
    top: 30vh;
  }

  .home-upper {
    font-size: 4rem;
  }

  .home-lower {
    font-size: 2.5rem;
  }

  .work-tile {
    flex: 1 1 40%;
    margin: 0 0.5rem 0.5rem 0;
  }
}

@media screen and (min-width: 2000px) {
  :root {
    --font-size-root: 1vw;
    --line-height-top-nav: 4vw;
    --sides-space: 20vw;
  }

  #top-nav-logo {
    margin: 0 0 0 2vw;
  }

  #top-nav-sections {
    margin: 0 4vw;
  }

  #top-nav-social-media {
    margin: 0 2vw 0 0;
  }
}
